# {{ansible_managed}}

{{"disks_all" | icinga_nrpe_command("disk", "-w 20% -c 10% -W 20% -K 10% -e --exclude-type=tracefs")}}
{{"load_per_cpu" | icinga_nrpe_command("load", "-r -w 2,1.1,0.8 -c 4,1.5,0.9")}}
{% for check in monitoring_check_config %}
{{check | icinga_monitoring_check_config_nrpe_formatter}}
{% endfor %}
