# {{ansible_managed}}

{{'Load per CPU' | icinga_nrpe_check(inventory_hostname, 'load_per_cpu')}}
{% for check in monitoring_check_config %}
{{check | icinga_monitoring_check_config_check_formatter(inventory_hostname, monitoring_website_health_checks)}}
{% endfor %}
