# {{ansible_managed}}
dn: olcDatabase={1}mdb,cn=config
changetype: modify
replace: olcRootPW
olcRootPW: {{ldap_server_admin_password | mkpasswd(ldap_server_admin_salt, method=ldap_server_password_scheme)}}
