# {{ansible_managed}}

{% for spec in [
    {'status_code': 200, 'message': 'OK'},
    {'status_code': 204, 'message': 'No Content'},
    {'status_code': 301, 'message': 'Moved Permanently'},
    {'status_code': 302, 'message': 'Found'},
    {'status_code': 302, 'message': 'Moved Temporarily', 'name': '302-mvd-tmp'},
    {'status_code': 400, 'message': 'Bad Request'},
    {'status_code': 401, 'message': 'Unauthorized'},
    {'status_code': 403, 'message': 'Forbidden'},
    ] %}
{%   for method in ['GET', 'POST'] %}
{%     for ssl in [True, '1.1', '1', '3', '2', False] %}
{%       for data in [True, False] %}
{%         for dns in [True, False] %}
{%           for port in [True, False] %}
{%             for critical_time in [2, 5, 10, 15, 20, 30, 45] %}
define command {
  command_name check_http_vhost_{{method | lower}}{{'_dns' if dns else ''}}{{'_ssl' if ssl else ''}}{{(ssl | replace(".", "_")) if ssl is string else ''}}{{'_data' if data else ''}}_{{spec.name | default(spec.status_code)}}_{{critical_time}}s{{('_port') if port else ''}}
  command_line /usr/lib/nagios/plugins/check_http \
{%               if not dns %}
    -I '$HOSTADDRESS$' \
{%               endif %}
    -H '$ARG1$' \
{{('    --ssl' + (('='+ssl) if ssl is string else '') + ' \\\n') if ssl else ''}}    --method {{method}} \
    -u '$ARG2$' \
    --expect '{{spec.status_code}} {{spec.message}}' \
    --string '$ARG3$' \
    --warning {{critical_time}} \
    --critical {{critical_time}} \
    --timeout {{critical_time + 30}} \
{{"    --post '$ARG4$' \\\n" if data else ''}} \
{%               if port %}
    --port '$ARG{{5 if data else 4}}$' \
{%               endif %}

}

{%             endfor %}
{%           endfor %}
{%         endfor %}
{%       endfor %}
{%     endfor %}
{%   endfor %}
{% endfor %}
{% for ssl in [True, '1.1', '1', '3', '2', False] %}
{%   for dns in [True, False] %}
define command {
  command_name check_http_vhost_cert{{'_dns' if dns else ''}}{{'_ssl' if ssl else ''}}{{(ssl | replace(".", "_")) if ssl is string else ''}}
  command_line /usr/lib/nagios/plugins/check_http{{'' if dns else " -I '$HOSTADDRESS$'"}} -H '$ARG1$' {{('--ssl' + (('='+ssl) if ssl is string else '')) if ssl else ''}} --sni --certificate=14,2
}

{%   endfor %}
{% endfor %}

define command {
	command_name	check_nrpe_timeout
	command_line	/usr/lib/nagios/plugins/check_nrpe -t $ARG1$ -H $HOSTADDRESS$ -p {{icinga_client_nrpe_server_port}} -c $ARG2$
}

define command {
	command_name	check_tcp4
	command_line	/usr/lib/nagios/plugins/check_tcp -4 -H $HOSTADDRESS$ -p $ARG1$ --mismatch=crit
}
