# {{ansible_managed}}

# Placeholder definition, which is only needed to make Icinga happy
# when expanding hostgroups. Run Ansible against {{item.item}} to get
# the real definition.
define host {
  use generic-host
  host_name {{item.item}}
{% if hostvars[item.item] is defined and hostvars[item.item]["icinga_client_ip_address"] is defined %}
  address {{hostvars[item.item]["icinga_client_ip_address"]}}
{% endif %}
}
