# {{ansible_managed}}
{% set checking_host = item['name'] + '.virtual' %}
{{checking_host | icinga_http_preconfigured_checks(
    unansiblized_sites=item['domains'],
    configs=icinga_server_preconfigured_web_host_health_checks,
    dns=True) }}
