# {{ansible_managed}}

enabled = True

# Amazon AWS EC2's new C5 and M5 instance types export disks as NVMe
# diskusage's default `devices` list did not catch them, so we
# extend the default to match NVMes.
# Upstream pull-request is at
#   https://github.com/python-diamond/Diamond/pull/693
devices = PhysicalDrive[0-9]+$|md[0-9]+$|sd[a-z]+[0-9]*$|x?vd[a-z]+[0-9]*$|disk[0-9]+$|dm\-[0-9]+$|nvme[0-9]+n[0-9]+(p[0-9]+)?$
