# {{ansible_managed}}

enabled = {{(diamond_metric_proxy_hosts_ssh | length) > 0}}

# We want to match each interface. So a single '\S' would do. But the
# `interfaces` setting has to be a list. So we take a random letter (that is
# matched by the first list element anyways) and add it as second element to get
# a list.
interfaces = \S,x

proxy_metrics_dir = {{diamond_effective_data_dir}}/proxy-metrics
remote_hosts = {{diamond_metric_proxy_hosts_ssh | join(',')}}
