# {{ansible_managed}}

enabled = {{(diamond_metric_proxy_hosts | length) > 0}}

proxy_metrics_dir = {{diamond_effective_data_dir}}/proxy-metrics
remote_hosts = {{diamond_metric_proxy_hosts | join(',')}}

percore = False
