# {{ansible_managed}}

Port {{ssh_server_port}}
AddressFamily inet
{% for net_access in (ssh_server_net_accesses | net_accesses_to_local_ips(net_configs, inventory_hostname)) %}
#ListenAddress {{net_access}}
{% endfor %}
# TODO: Enable ListeningAddress. This currently is flaky, as it fails if the needed VPN is not yet up.

HostKey /etc/ssh/ssh_host_ed25519_key

LoginGraceTime 2m
PermitRootLogin no
StrictModes yes
MaxAuthTries 6
MaxSessions 10

MACs hmac-sha2-512-etm@openssh.com
Ciphers chacha20-poly1305@openssh.com
HostKeyAlgorithms ssh-ed25519
KexAlgorithms curve25519-sha256

AuthenticationMethods publickey
PubkeyAuthentication yes

AuthorizedKeysFile .ssh/authorized_keys

AuthorizedPrincipalsFile none
AuthorizedKeysCommand /usr/bin/get-ldap-ssh-public-key
AuthorizedKeysCommandUser nobody

HostbasedAuthentication no
IgnoreUserKnownHosts no
IgnoreRhosts yes

PasswordAuthentication no
PermitEmptyPasswords no

ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no
KbdInteractiveAuthentication no
UsePAM yes

AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
PermitTTY yes
PrintMotd no
TCPKeepAlive yes
PermitUserEnvironment no
Compression yes
ClientAliveInterval 60
ClientAliveCountMax 5
UseDNS no
PidFile /var/run/sshd.pid
MaxStartups 4:80:20
PermitTunnel no
ChrootDirectory none
VersionAddendum none

DisableForwarding yes
PermitOpen none

DebianBanner no

Banner none
AcceptEnv LANG LC_*

Subsystem	sftp	/usr/lib/openssh/sftp-server
