# {{ansible_managed}}

{{"disks_all" | icinga_nrpe_command("disk", "-w 20% -c 10% -W 20% -K 10% -e --exclude-type=tracefs")}}
{{"load_per_cpu" | icinga_nrpe_command("load", "-r -w 2,1.1,0.8 -c 4,1.5,0.9")}}
{{"nscd_proc" | icinga_nrpe_command("procs", "--critical=1:1 --ppid=1 --command=nscd")}}
{{"nslcd_proc" | icinga_nrpe_command("procs", "--critical=1:1 --ppid=1 --command=nslcd")}}
{% if 'ldap_servers' in group_names %}
{{"slapd_proc" | icinga_nrpe_command("procs", "--critical=1:1 --ppid=1 --user=openldap --command=slapd")}}
{% endif %}
{% if 'icinga_servers' in group_names %}
{{"icinga_proc" | icinga_nrpe_command("procs", "--critical=1:20 --ppid=1 --user=nagios --command=icinga")}}
{% endif %}
{# lint-ignore: vpn_net_config <-- not a setting for `vpn` role #}
{% for vpn_net_config in (inventory_hostname | host_nets(net_configs, type="vpn")| list) %}
{%  set slug = (vpn_net_config | net_slug(inventory_hostname)) %}
{{("openvpn_" + slug + "_daemon") | icinga_nrpe_command("procs", "--critical=1:1 --ppid=1 --command=openvpn --argument-array=/etc/openvpn/" + slug + ".conf")}}
{{("openvpn_" + slug + "_status") | icinga_nrpe_command("file_age", "-w 30 -c 300 /run/openvpn/" + slug + ".status")}}
{% endfor %}
