# {{ansible_managed}}

define host{
  use generic-host
  host_name {{inventory_hostname}}
{% if icinga_client_ip_address %}
  address {{icinga_client_ip_address}}
{% endif %}
  icon_image            {{qhost_distribution | map_distribution_to_image}}
  icon_image_alt        {{qhost_distribution}}
  notes {{qhost_description}} {{hostvars[inventory_hostname] | icinga_format_notes_system_links}}
}
