# {{ansible_managed}}
{% if icinga_client_monitor_ssh %}
{{'SSH/Server' | icinga_check(inventory_hostname,
  'ssh_port_4', [ssh_server_port])}}
{% endif %}
{% if 'hp_printers' in group_names %}
{{inventory_hostname | icinga_http_preconfigured_checks(
    unansiblized_sites=['hp-jetdirect'],
    configs=monitoring_website_health_checks) }}
{% endif %}
