# {{ansible_managed}}

{{'Disk Space' | icinga_nrpe_check(inventory_hostname, 'disks_all')}}
{{'Load per CPU' | icinga_nrpe_check(inventory_hostname, 'load_per_cpu')}}
{{'Name Service/Caching Daemon' | icinga_nrpe_check(inventory_hostname,
                                  'nscd_proc')}}
{{'Name Service/LDAP Lookup' | icinga_nrpe_check(inventory_hostname,
                                'nslcd_proc')}}
{{'atop/Accounting monitor' | icinga_nrpe_check(inventory_hostname,
                              'atopacctd_proc')}}
{{'atop/Daemon' | icinga_nrpe_check(inventory_hostname, 'atop_proc')}}
{% if 'ldap_servers' in group_names %}
{{'LDAP/Server' | icinga_nrpe_check(inventory_hostname, 'slapd_proc')}}
{% endif %}
{% if 'icinga_servers' in group_names %}
{{'Icinga/Server' | icinga_nrpe_check(inventory_hostname, 'icinga_proc')}}
{% endif %}
{# lint-ignore: vpn_net_config <-- not a setting for `vpn` role #}
{% for vpn_net_config in (inventory_hostname | host_nets(net_configs, type="vpn")| list) %}
{%  set slug = (vpn_net_config | net_slug(inventory_hostname)) %}
{{('OpenVPN/' + slug + '/Server') | icinga_nrpe_check(inventory_hostname, 'openvpn_' + slug + '_daemon')}}
{{('OpenVPN/' + slug + '/Status') | icinga_nrpe_check(inventory_hostname, 'openvpn_' + slug + '_status')}}
{% endfor %}
