# {{ansible_managed}}

LANG="{{locale_default_locale}}"

LC_ALL="{{locale_default_locale}}"

LC_ADDRESS="{{locale_default_locale}}"
LC_COLLATE="{{locale_default_locale}}"
LC_CTYPE="{{locale_default_locale}}"
LC_IDENTIFICATION="{{locale_default_locale}}"
LC_MEASUREMENT="{{locale_default_locale}}"
LC_MESSAGES="{{locale_default_locale}}"
LC_MONETARY="{{locale_default_locale}}"
LC_NAME="{{locale_default_locale}}"
LC_NUMERIC="{{locale_default_locale}}"
LC_PAPER="{{locale_default_locale}}"
LC_TELEPHONE="{{locale_default_locale}}"
LC_TIME="{{locale_default_locale}}"
