# {{ansible_managed}}

# htpasswd for {{item.name}}

{% for user in item.users %}
{{user}}:{{website_common_users[user]['password'] | mkpasswd(salt = website_common_users[user]['salt'], method='sha-512')}}
{% endfor %}
