# {{ansible_managed}}

# htpasswd for {{item.key}}

{% for user in item.value %}
{{user}}:{{website_common_users[user]['password'] | mkpasswd(salt = website_common_users[user]['salt'], method='SHA512-CRYPT', add_text_method=False)}}
{% endfor %}
