# {{ansible_managed}}

# We don't care much about where people come from. So we allow any
# Referers as long they are visible.
SecRuleUpdateTargetById 920272 !REQUEST_HEADERS:Referer

# Bots come with email addresses (or `(at)`) in `From`
# headers. Neither do we want to exclude them, nor carefully audit
# them. So we whitelist them.
SecRuleUpdateTargetById 920272 !REQUEST_HEADERS:From
SecRuleUpdateTargetById 920274 !REQUEST_HEADERS:From


# Sec-Fetch-User is either `?0` or `?1`. So it contains `?` (63)
# which is forbidden in 920274. Upstream has a fix for this and also
# adds 920275 for this very case. Until that fix flows down to us, we
# whitelist this header.
SecRuleUpdateTargetById 920274 !REQUEST_HEADERS:Sec-Fetch-User

# Sec-CH-UA-Mobile is either `?0` or `?1`. So it contains `?` (63)
# See
# https://wicg.github.io/ua-client-hints/#sec-ch-ua-mobile
# Upstream fix is 0d67efdd48184de5b054f2231d84ebc47b225031, which is
# too lax, as it also allows Sec-CH-UA (which does not
# contain `?` (63))
# We whitelist the header until the upstream fix flows down to us.
SecRuleUpdateTargetById 920274 !REQUEST_HEADERS:Sec-CH-UA-Mobile

# The auth mail header typically contains an @ which triggers 920274.
SecRuleUpdateTargetById 920274 !REQUEST_HEADERS:{{web_site_authenticated_email_header}}

# The Via header often contains a parentheses which triggers 920274. E.g.: Via=1.1 pr-[...]-pxy1.stark-deutschland.de:80 (Cisco-WSA/11.8.0-453)'
SecRuleUpdateTargetById 920274 !REQUEST_HEADERS:Via
