# {{ansible_managed}}

# We don't care much about where people come from. So we allow any
# Referers as long they are visible.
SecRuleUpdateTargetById 920272 !REQUEST_HEADERS:Referer

# Bots come with email addresses (or `(at)`) in `From`
# headers. Neither do we want to exclude them, nor carefully audit
# them. So we whitelist them.
SecRuleUpdateTargetById 920272 !REQUEST_HEADERS:From
SecRuleUpdateTargetById 920274 !REQUEST_HEADERS:From


# Sec-Fetch-User is either `?0` or `?1`. So it contains `?` (63)
# which is forbidden in 920274. Upstream has a fix for this and also
# adds 920275 for this very case. Until that fix flows down to us, we
# whitelist this header.
SecRuleUpdateTargetById 920274 !REQUEST_HEADERS:Sec-Fetch-User

# The auth mail header typically contains an @ which triggers 920274.
SecRuleUpdateTargetById 920274 !REQUEST_HEADERS:{{web_site_authenticated_email_header}}
