# {{ansible_managed}}
<IfModule mod_status.c>
  <Location /server-status>
    SetHandler server-status
    Require local # Only allowed from localhost
  </Location>

  # Most metrics require ExtendedStatus to bu turned On
  ExtendedStatus On

  <IfModule mod_proxy.c>
     # Expose loadbalancer status data in status pages
     ProxyStatus On
  </IfModule>
</IfModule>
