{# qa:lint:no-ansible-managed-check, as `pam-auth-update` does not allow comments -#}
Name: Create home directory during login
Default: yes
Priority: 900
Session-Type: Additional
Session:
        [success=ok new_authtok_reqd=ok default=ignore]        pam_mkhomedir.so umask=0077
