# {{ansible_managed}}
*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

-A INPUT -m state --state INVALID -j DROP
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT

# Default ssh port as fallback
-A INPUT -p tcp -m tcp --dport 22 -j ACCEPT
# Custom ssh port for half-configured systems
-A INPUT -p tcp -m tcp --dport {{ssh_server_port}} -j ACCEPT

COMMIT
