# {{ansible_managed}}

enabled = True

path = logs

default_format = lines

[files]

{% for server in [ {'name': 'apache', 'sites': apache_websites, 'log_path': 'apache2', 'scale': 'microseconds'},
                  ] %}
{%   for site in server['sites'] %}
{%     for access in [ {'port': 80, 'name': 'http'},
                       {'port': 443, 'name': 'https'}
                       ]
%}
[[/var/log/{{server.log_path}}/{{site}}/{{access['port']}}_access.log]]
file_name = /var/log/{{server.log_path}}/{{site}}/{{access['port']}}_access.log
format = web:req_v2
prefix = {{server['name']}}.{{site | regex_replace('[.-]', '_')}}.{{access['name']}}
duration_scale = {{server['scale']}}

{%     endfor %}
{%   endfor %}
{%   if server['name'] == 'apache' and "apache" in group_names%}
[[/var/log/{{server.log_path}}/access.log]]
file_name = /var/log/{{server.log_path}}/access.log
format = web:req_v2
prefix = {{server['name']}}.fallback

[[/var/log/{{server.log_path}}/other_vhosts_access.log]]
file_name = /var/log/{{server.log_path}}/other_vhosts_access.log
format = web:req_v2
prefix = {{server['name']}}.other_vhosts

{%   endif %}
{% endfor %}

{% for log_file in logging_log_files %}

[[{{log_file['file']}}]]
description = {{log_file['description']}}
file_name = {{log_file['file']}}
format = {% if log_file['format'] == 'python' %}python:log{% else %}lines{% endif %}

prefix = {{[log_file['group'], log_file['item']] | join('.')}}
{% endfor %}
