# {{ansible_managed}}

dev {{item | net_dev_name(inventory_hostname)}}

{% if (item['protocol'] == 'udp') %}
proto udp{{'' if qhost_distribution == 'Gentoo' else '4'}}
{% else %}
proto tcp{{'' if qhost_distribution == 'Gentoo' else '4'}}-{{ 'server' if (item | net_served_by(inventory_hostname)) else 'client' }}
{% endif %}
lport {{item['port']}}

keepalive 60 300

cipher AES-256-CBC
auth SHA256

ifconfig {{item | net_ip('local', inventory_hostname)}} {{item | net_ip('remote', inventory_hostname)}}

{% if (item | net_served_by(inventory_hostname)) %}

persist-tun
persist-key
{% else %}

remote {{hostvars[item['server']]['public_ipv4_address']}}
rport {{item['port']}}
{% endif %}

secret /etc/openvpn/{{item | net_slug(inventory_hostname)}}.key {{ 0 if (item | net_served_by(inventory_hostname)) else 1 }}

verb {{vpn_log_level | logging_map_level(0, 1, 1, 3, 11)}}

log-append {{vpn_log_dir}}/{{item | net_slug(inventory_hostname)}}.log
